@import url('https://fonts.googleapis.com/css?family=Nanum+Gothic:400');

body {
    background-color: #F0EFEF;
}
.navblock {
    height: 150px;
}

.pink{
    text-align: center;
    background-color: white;
}

.img_cardboard{
    opacity: 1;
    display: block;
    width: 200px;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
    margin-left: auto;
    margin-right: auto;
}
.middle{
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 33%;
    left: 40%;
    transform: translate(-25%, -25%);
    -ms-transform: translate(-25%, -25%);
    text-align: center;
}
.image_container1:hover .image{
    opacity: 0.3;
}
.image_container1:hover .middle{
    opacity: 1;
}
.text{
    background-color: pink;
    color: black;
    font-size: 16px;
    padding: 16px 32px;
}
.image_container2:hover .image{
    opacity: 0.3;
}
.image_container2:hover .middle{
    opacity: 1;
}
.image_container3:hover .image{
    opacity: 0.3;
}
.image_container3:hover .middle{
    opacity: 1;
}
.image_container4:hover .image{
    opacity: 0.3;
}
.image_container4:hover .middle{
    opacity: 1;
}
.image_container5:hover .image{
    opacity: 0.3;
}
.image_container5:hover .middle{
    opacity: 1;
}
.image_container6:hover .image{
    opacity: 0.3;
}
.image_container6:hover .middle{
    opacity: 1;
}
.image_container7:hover .image{
    opacity: 0.3;
}
.image_container7:hover .middle{
    opacity: 1;
}
.image_container8:hover .image{
    opacity: 0.3;
}
.image_container8:hover .middle{
    opacity: 1;
}
.image_container9:hover .image{
    opacity: 0.3;
}
.image_container9:hover .middle{
    opacity: 1;
}

.checkout {
    text-align: center;
    background-color: aquamarine;
    height: 200px;
         
 }

/* sm */
@media (min-width:576px){
    

}

/* md */
@media (min-width:768px){
body {
    background-color: aqua;
 }
    
.pink{
      
 }
    
}

/* lg */
@media (min-width:922px){
    
body {
    background-color: chocolate;
}
    
.pink{
      
 }
    
}

/* xl */
@media (min-width:1200px){}